// Define variables for your color scheme

// For example:
$red: #d63447;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #7fcd91;
$black: rgb(20, 20, 20);
$darker-gray: rgb(40, 40, 40);
$dark-gray: rgb(80, 80, 80);
$gray: rgb(170, 170, 170);
$light-gray: rgb(220, 220, 220);
$white: rgb(248, 248, 248);
