.chatrooms-main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.chatrooms-container-left {
  width: 35%;
  min-width: 300px;
  flex-shrink: 0;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

  .searchbar {
    padding: 8px 12px;
  }

  ul.chatrooms {
    list-style: none;
    margin: 0;
    padding: 0;

    .active {
      background: rgb(230, 230, 230);
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }

}

.chatrooms-container-right {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
