.chatrooms-container {
  display: flex;
  height: 91.55vh;
  width: 100%;
  background-color: #f8f8f8;
}

.chatrooms-container-left {
  color: white;
  width: 35%;
  height: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: rgba(13, 58, 60, 0.9);

  .searchbar {
    padding: 8px 17px;
  }

  .chatrooms {
    height: calc(100% - 54px);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      max-height: 100%;
      color: white;

      li {
        border-left: 10px solid transparent;
        transition: all 0.1s ease-in-out;
        background-color: $reele-secondary;

        &:hover {
          border-left: 10px solid $reele-cta;
          background: $white;
          background-color: rgba(13, 58, 60, 0.9) !important;
        }
      }

      .active {
        background: $white;
        border-left: 10px solid $reele-cta;
        background-color: rgba(13, 58, 60, 0.9) !important;
      }
    }
  }
}

.chatrooms-container-right {
  width: 100%;
  min-width: 340px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  height: 100%;

  .no-messages {
    margin: auto;
  }
}
