.dash-controls {
  border: 1px solid blue;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-projects {
  border: 1px solid green;
  margin: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: black;

    &:hover {
     text-decoration: none;
    }
  }
}
