.filter-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: black;
  width: 100%;

  h5 {
    color: lightgrey;
  }

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }

    &.active {
      background-color: rgba(100,100,100, 0.5);
      padding: 10px 20px;
      border-radius: 4px;
      color: rgb(100, 100, 100);
      font-weight: bold;

    }
  }
}
