.filter-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: black;
  width: 100%;

  h5 {
    color: lightgrey;
  }

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }

    &.active {
      color: white;
      background: rgba(74,74,74, 0.5);
      transition: background 0.3s ease;
      padding: 8px 16px;
      border-radius: 4px;
      font-weight: bold;
    }
  }
}
