.project-media {
  text-align: center;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 50%;
    width: 100%;
    object-fit: cover;
  }

  iframe {
    // VIDEO
    margin-top: 50px;
  }

  .audio-embed {
    height: 235px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 75px;

    iframe {
      // AUDIO EMBED
      margin-top: 65px;
      margin-bottom: 10px;
    }

    .bandcamp_iframe {
      position: absolute;
      // width: 100%;
      left: 25%;
      top: 35px;
    }

    .spotify-iframe {
      // position: absolute;
      // bottom: 67%;
      // left: 10%;
    }

    .soundcloud-iframe {
      // position: absolute;
      // bottom: 60%;
      // left: 10%;
      // padding-bottom: 40px;
    }
  }

  .audio-upload {
    padding-top: 110px;
  }
}


.project-container{
  display: flex;
  margin: 40px 0 60px 0;
  width: 100%;
  justify-content: space-between;
}

.project-container-left {
  width: 60%;
}

.project-container-right {
  width: 33%;
}

.project-description{
  position: relative;
  padding-bottom: 60px;
  h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 1.4em;
    margin-bottom: 16px;
  }
  .share {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .edit {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.project-info {
  left:0;
}
.user-contact {
  padding-bottom: 20px;
  border-bottom: 1px solid $gray;
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
  .username-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    i {
      font-size: 40px;
      padding-right: 10px
    }
    h6 {
      font-size: 1.4em;
      margin: 0;
      color: $black;

      span {
      border-bottom: 2px solid transparent;

        &:hover {
        // color: $black;
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid $reele-cta;
        }
      }
    }
  }
}
.project-data {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray;
  .project-data-section {
    display: flex;
    align-items: center;
    color: $dark-gray;
    padding-bottom: 10px;
    i {
      font-size: 1.2em;
      margin-right: 8px;
    }
    p {
      font-size: 1.1em;
      margin: 0;
    }
  }
}
.comments-header {
  margin: 0 8px 12px 8px;
  border-bottom: 1px solid $gray;
}
.more-by-user {
  padding: 20px 0;
  border-bottom: 1px solid $gray;
  h4 {
    margin-bottom: 16px;
  }
  .more-user-projects {
    max-height: 700px;
    overflow: scroll;
    a:hover {
      text-decoration: none;
    }
  }
}
.browse-more {
  margin-top: 20px;
  color: $dark-gray;
  a {
    color: $reele-secondary;
  }
  a:hover {
    text-decoration: none;
    color: $reele-primary;
  }
}
.project-comments{
  margin: 80px 0px;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}
