.project-media {
  text-align: center;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 50%;
    width: 100%;
    object-fit: cover;
  }

  iframe {
    margin-top: 50px;
  }
}


.project-container-left {
  width: 60%;
}

.project-container-right {
  width: 33%;
}

.content-container{
  display: flex;
  margin-top: 40px;
  width: 100%;
  justify-content: space-between;
}

.project-description{
  position: relative;
  padding-bottom: 60px;

  h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 1.4em;
    margin-bottom: 16px;
  }

  .share {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .edit {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.project-info {
  left:0;
}

.user-contact {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  .username-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    i {
      font-size: 40px;
      padding-right: 10px
    }

    h6 {
      font-size: 1.4em;
      margin: 0;
    }
  }

  button {
    width: 100%;
  }
}

.project-data {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;

  .project-data-section {
    display: flex;
    align-items: center;
    color: darkgrey;
    padding-bottom: 10px;

    i {
      font-size: 1.2em;
      margin-right: 8px;
    }

    p {
      font-size: 1.1em;
      margin: 0;
    }
  }
}

.more-by-user {
  padding: 20px 0;
  border-bottom: 1px solid lightgrey;

  h4 {
    margin-bottom: 16px;
  }

  .more-user-projects {
    max-height: 700px;
    overflow: scroll;

    a:hover {
      text-decoration: none;
    }
  }
}

.browse-more {
  margin-top: 20px;
  color: darkgrey;

  a {
    color: grey;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }
}

.project-comments{
  text-align: center;
  margin: 80px 0px;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.availability-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0 auto;
  padding: 20px;
  background: lightgreen;
  border-radius: 10px;

  > h6 {
    margin: 0;
    padding: 0;

  }
}
