<div class="banner" style="background-image: linear-gradient(rgba(175,64,53,1),rgba(175,64,53,0.8));">
  <div class="container">
    <h1>Discover the best talent in audio</h1>
    <p>Reele helps sound designers showcase their skills, find collaboration opportunities, and thrive in the industry.</p>
    <a class="btn btn-flat" href="#">Sign up</a>
  </div>
</div>
<div class="filter-bar">
  <input class="mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

  <!-- These links should be logic links that repopulate the index -->
    <%= link_to 'Mixdown', root_path(query: 'audio') %>
    <%= link_to 'Mastering', root_path(query: 'mastering') %>
    <li style="list-style: none;"><a href="">Category</a></li>
    <li style="list-style: none;"><a href="">Category</a></li>
    <li style="list-style: none;"><a href="">Category</a></li>
    <li style="list-style: none;"><a href="">Category</a></li>
    <li style="list-style: none;"><a href="">Category</a></li>

  <a href="" class="btn btn-success">Click me</a>
</div>
<div class="container mt-4 mb-4">
  <div class="cards">
      <%= render 'components/card' %>
    <!-- WE WILL NEED THIS TO ITERATE OVER PROJECTS -->
    <%# @projects.each do |project| %>
      <%#= render 'components/card', project: project %>
    <%# end %>
  </div>
</div>

