<div class="banner" style="background-image: linear-gradient(rgba(175,64,53,1),rgba(175,64,53,0.8));">
  <div class="container">
    <h1>Discover the best talent in audio</h1>
    <p>Reele helps sound designers showcase their skills, find collaboration opportunities, and thrive in the industry.</p>
    <a class="btn btn-flat" href="#">Sign up</a>
  </div>
</div>
<div class="filter-bar">
  <input class="mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  <li style="list-style: none;">Category</li>
  <li style="list-style: none;">Category</li>
  <li style="list-style: none;">Category</li>
  <li style="list-style: none;">Category</li>
  <li style="list-style: none;">Category</li>
  <a href="" class="btn btn-success">Click me</a>
</div>
<div class="container mt-4 mb-4">
  <div class="cards">
    <div class="project-card">
      <div class="project-card-main">
        <div class="project-card-image">
          <img src="" alt="">
        </div>
        <div class="project-card-info">
          <i class="fas fa-heart">23</i>
          <i class="fas fa-eye">50</i>
          <i class="fas fa-comment">15</i>
        </div>
      </div>
      <div class="project-card-user">
        <img src="" alt="" class="project-avatar">
        <h6>Username</h6>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-main">
        <div class="project-card-image">
          <img src="" alt="">
        </div>
        <div class="project-card-info">
          <i class="fas fa-heart">23</i>
          <i class="fas fa-eye">50</i>
          <i class="fas fa-comment">15</i>
        </div>
      </div>
      <div class="project-card-user">
        <img src="" alt="" class="project-avatar">
        <h6>Username</h6>
      </div>
    </div>
    <div class="project-card">
      <div class="project-card-main">
        <div class="project-card-image">
          <img src="" alt="">
        </div>
        <div class="project-card-info">
          <i class="fas fa-heart">23</i>
          <i class="fas fa-eye">50</i>
          <i class="fas fa-comment">15</i>
        </div>
      </div>
      <div class="project-card-user">
        <img src="" alt="" class="project-avatar">
        <h6>Username</h6>
      </div>
    </div>

  </div>
</div>

