<%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
<h2><%= @user.email %></h2>

<%= link_to "+ New Project", new_project_path %>

<% if @user.projects.present? %>
<ul>
  <% @user.projects.each do |project| %>
  <li>
    <%= project.title %>
  </li>
  <% end %>
</ul>
<% end %>
