.banner {
  background-size: cover;
  background-position: center;
  padding: 135px 0;
  background: $white;
  z-index: 2;

  .btn-box-light {
    z-index: 10;
    position: relative;
  }
}

.banner h1 {
  position: relative;
  margin-bottom: 12px;
  color: $black;
  font-size: 60px;
  font-weight: bold;
  font-family: $banner-font;
  max-width: 580px;
  letter-spacing: 3px;
   z-index: 2;
}

.banner p {
  font-size: 20px;
  color: $black;
  opacity: .7;
  max-width: 580px;
   z-index: 2;
}

