.banner {
  background-size: cover;
  background-position: center;
  padding: 135px 0;
  background: $white;
}

.banner h1 {
  margin-bottom: 12px;
  color: $black;
  font-size: 60px;
  font-weight: bold;
  font-family: $banner-font;
  max-width: 580px;
  letter-spacing: 3px;
}

.banner p {
  font-size: 20px;
  color: $black;
  opacity: .7;
  max-width: 580px;
}
