.banner {
  background-size: cover;
  background-position: center;
  padding: 130px 0 70px;
  background: $electric;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 10;
  }
}

.banner h1 {
  margin: 0;
  color: black;
  font-size: 60px;
  font-weight: bold;
  font-family: $main-font;
  max-width: 680px;
}
.banner p {
  max-width: 490px;
  font-size: 20px;
  color: black;
  opacity: .7;
  margin: 21px 0 36px;
}

.banner .btn-flat {
  color: white;
  padding: 12px 36px;
  border-radius: 4px;
  background: black;
  transition: background 0.3s ease;
  text-transform: uppercase;

  &:hover {
    color: black;
    background: white;
  }
}
