.card-dash {
  border: 1px solid red;
  // overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: relative;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  .card-dash-info {
    padding: 16px;

    h2 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }

    p {
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
    }
  }

  .card-dash-controls {
    position: absolute;
    right: 20px;

    a:hover {
      color: red;
    }
  }

  &:hover {
    background: lightgrey;
    cursor: pointer;
  }
}
