////////////////////////////////////////////
/////////////// LE WAGON KIT ///////////////
////////////////////////////////////////////

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


//  Project card styles

.project-card {
  // border: 1px solid black;
  // background: lightgrey;
  border: 1px solid black;

  .project-card-main {
    height: 90%;
    background: white;
    // border: 1px solid yellow;
    margin: 20px 20px 0px 20px;
    padding-top: 2px;
    border-radius: 5px;
    box-shadow: 2px 0px 6px lightgrey;

    .project-card-image {
      background-image: url('https://previews.123rf.com/images/tatianazaets/tatianazaets1903/tatianazaets190300029/124295659-sound-wave-vector-background-audio-music-soundwave-voice-frequency-form-illustration-vibration-beats.jpg');
      background-size: cover;
      height: 180px;
      margin: 20px 10px 10px 10px;
      padding-top: 20px;
      // border: 1px solid green;

    }

    .project-card-info {
      // border: 1px solid blue;
      font-size: 12px;
      padding: 0px;
      width: 95%;
      padding: 6px;
      margin: auto;
      display: flex;
      justify-content: flex-end;

      > i {
        padding: 0 5px;
      }

    }
}
  .project-card-user {
    padding: 0px;
    // background: lightgrey;
    // border: 1px solid violet;
    margin: 0px 27px;
    display: flex;
    align-items: center;

    .project-avatar {
      border-radius: 50%;
      border: 1px solid black;
      height: 20px;
      width: 20px;
    }

    > h6 {
      margin: 6px;
    }
  }
}

////////////////////////////////////////////
///////////////// DASHBOARD ////////////////
////////////////////////////////////////////

.dash-card-headers {
  display: flex;
  justify-content: space-between;
  padding: 6px 6px 0 6px;
  margin: 6px 0 12px 0;

  .dash-card-section {
    width: 25%;
    text-align: left;
    margin: 4px 4px 0 4px;
    border-bottom: 0.75px solid rgba(0, 0, 0, 0.1);

    p {
      margin: 0;
      font-size: 0.8em;
    }
  }
}

.dash-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 4px;
  padding: 6px;
  margin: 6px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;

  &:hover {
    background: rgba(255, 255, 255, 0.6);
  }

  .dash-card-section {
    width: 25%;
    text-align: left;
    margin: 4px;

    p {
      margin: 0;
      font-size: 0.9em;
    }
  }

  .dash-card-host-controls {
    display: flex;
    position: absolute;
    top: 37;
    right: 0;

    i {
      margin-right: 8px;
    }

    .share:hover {
      color: rgb(23, 233, 25);
    }

    .delete:hover {
      color: red;
    }
  }
}
