.card-dash {
  border: 1px solid red;
  // overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: relative;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  .card-dash-info {
    padding: 16px;

    h2 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }

    p {
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 8px;
    }
  }

  .card-dash-controls {
    position: absolute;
    right: 20px;

    a:hover {
      color: red;
    }
  }

  &:hover {
    background: lightgrey;
    cursor: pointer;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-trip {
  overdflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}











////////////////////////////////////////////
///////////////// DASHBOARD ////////////////
////////////////////////////////////////////

.dash-card-headers {
  display: flex;
  justify-content: space-between;
  padding: 6px 6px 0 6px;
  margin: 6px 0 12px 0;

  .dash-card-section {
    width: 25%;
    text-align: left;
    margin: 4px 4px 0 4px;
    border-bottom: 0.75px solid rgba(0, 0, 0, 0.1);

    p {
      margin: 0;
      font-size: 0.8em;
    }
  }
}

.dash-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 4px;
  padding: 6px;
  margin: 6px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;

  &:hover {
    background: rgba(255, 255, 255, 0.6);
  }

  .dash-card-section {
    width: 25%;
    text-align: left;
    margin: 4px;

    p {
      margin: 0;
      font-size: 0.9em;
    }
  }

  .dash-card-host-controls {
    display: flex;
    position: absolute;
    top: 37;
    right: 0;

    i {
      margin-right: 8px;
    }

    .edit:hover {
      color: rgb(23, 233, 25);
    }

    .delete:hover {
      color: red;
    }
  }
}
