.message-feed {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.messages-scroll {
  max-height: 100%;
  overflow: scroll;
  flex-grow: 1;
  border-bottom: 1px solid lightgrey;

  .message-header {
    border-bottom: 1px solid lightgrey;
    padding: 16px 12px;
    background: white;
    margin-bottom: 10px;

    a {
      color: black;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      height: 120px;
      width: 120px;
      object-fit: cover;
      border-radius: 4px;
      margin-right: 12px;
    }

    h4 {
      margin-top: 10px;
      margin-bottom: 0;
      font-weight: bold;
      font-size: 1.4em;
    }

    h5 {
      margin-top: 6px;
      font-size: 1.4em;
    }

    h6 {
      margin: 0;
    }
  }
}

.new-message > form {
  padding: 12px;
}

