.navbar-lewagon {
  justify-content: space-between;
  background: $black;
  z-index: 2;

  .navbar-brand {
    display: flex;
    align-items: center;
    color: $white;

    &:hover {
      color: $white;
    }

    i {
      font-size: 1.4em;
      margin-right: 10px;
    }

    h2 {
      margin-bottom: 0;
      font-size: 1.7em;
      letter-spacing: 0.7px;
    }
  }

  .nav-item > a.nav-link {
    color: $white;

    &:hover {
      color: $light-gray;
    }
  }

  .dropdown-menu {
    padding: 0;
    border: none;
  }

  .dropdown-menu > a.dropdown-item {
    color: $white;
    background: $black;
    padding: 6px 0 6px 24px;

    &:hover {
      background: $white;
      color: $black;
    }
  }

  .navbar-collapse {
    flex-grow: 0;

    .nav-item {
      margin-left: 12px;
    }
  }

  .hamburger {
    height: 40px;
    width: 40px;
  }
}
