.navbar-lewagon {
  // display: flex;

  justify-content: space-between;
  background: white;

   .navbar-brand {
    display: flex;
    align-items: center;

    i {
      font-size: 1.4em;
      margin-right: 10px;
    }

    h2 {
      margin-bottom: 0;
      font-size: 1.7em;
      letter-spacing: 0.7px;
    }
  }

  .navbar-collapse {
    flex-grow: 0;

    .nav-item {
      margin-left: 12px;
    }
  }

  .hamburger {
    height: 40px;
    width: 40px;
  }
}
