.wave-banner {
  height: 150px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  position: relative;
  top: 50px;
}

.wave-controls {
  font-size: 50px;
  // margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  top: 52px;

  border: 2px solid black;
  border-radius: 30%;
  height: 60px;
  width: 120px;
  margin: auto;

  &:hover {

  }

  #waveform-play {

  }

  #waveform-pause {

  }
}
