.wave-container {
  border-left: 8px solid $reele-cta;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 120px;
  width: 75%;
  margin: 0 auto;
  position: relative;
  background: $white;

  .wave-section {
    width: 100%;

    .wave-controls {
      font-size: 100px;
      display: flex;
      position: absolute;
      left: 0;
      top: 23px;

      #waveform-play {
        padding: 0px 10px;
        color: $black;
      }

      #waveform {
        border: 1px solid purple;
        width: 100%;
      }

      .waveform-player {
        color: red;
      }
    }

    .wave-image {
      height: 270px;
      border: 1px solid red;
      padding: 0 20px 0 20px;
      object-fit: contain;
    }
  }

  #waveform-pause {
    padding: 0px 10px 0px 10px;
  }
}


.click {
  transform: scale(0.7);
  transition: 0.1s;
}



