.wave-container {
  // border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;

  .wave-section {
    width: 85%;

  .wave-controls {
    font-size: 50px;
    display: flex;
    border: 1px solid green;

    #waveform-play {
      padding: 0px 10px 0px 10px;
    }

    #waveform {
      border: 1px solid purple;
      width: 100%;
    }

    .waveform-player > canvas {
      background: red;
    }
  }

  .wave-image {
    height: 270px;
    border: 1px solid red;
    padding: 0 20px 0 20px;
    object-fit: contain;
  }
}




  #waveform-pause {
    padding: 0px 10px 0px 10px;
  }
}


.click {
  transform: scale(0.7);
  transition: 0.1s;
}



